<table align="center" cellpadding="5" class="create-form"><tr><td>
	<p>
	  <font face="century schoolbook" size="4">The following URL:<br><br>
	  <span class="tab"><strong><%= @url.url %></strong></span><br><br>
	  resulted in the following shortURL<br><br>
	  <span class="tab"><strong>http://mybabyurl.herokuapp.com/<%= @url.key %></strong></span></font>
	</p>

	<%= link_to 'Back', urls_path %>
</table>

